{% extends "base.html" %}

{% block title %}
<title>Help</title>
{% endblock %}

{% block css_import %}
{% endblock %}

{% block content %}
<h1>Help</h1>

PanDA web client is a tool intended for interacting with KI's PanDA server.

<h2>Submitting a job</h2>

Typical process of job submitting looks something like this:

<h3>Upload files</h3>

There are two ways of uploading files: web form and FTP. 

Web form is more suitable for small jobs with few files. It requires no preparations, so if you want to use it you can skip this part and go straight to "Submit job".

FTP is more efficient with large file sizes and numbers. Before submitting a job, you must transfer your files to FTP:

<ol>
<li>Connect to server ftp://144.206.233.179:8021/ using your favorite FTP client (if you have none, you can use https://filezilla-project.org/, for example) and your login and password.</li>

<li>Create a new directory for a job.</li>

<li>Upload files into new directory.</li>
</ol>

<h3>Submit job</h3>

Now you can open a "New job" tab. Here you should specify job parameters:

<ul>
<li> SOFTWARE: a distributive to process files. If there is no software you need in this list, you should contact the administration of this web client.</li>

<li> INPUT FILES: drag & drop: if you only have a handful of small files to process, you can drag and drop them here.</li>

<li> INPUT FILES: ftp dir: if you have uploaded files to FTP, specify a directory with them here. (without "ftp:..." or anything. Example: "tasks/new_task")</li>

<li> INPUT FILES: http url: http link to download files from the web to process. (Example: http://www.google.com/index.html)</li>

<li> RUN SCRIPT: commands to run, separated by semicolon. Software chosen by you will be imported and added to PATH.</li>
</ul>

And click "Send job".

<h3>Obtain a results</h3>

After submitting a job you can monitor its status in the "Job list" tab. When the job finishes, you can get your results from the detailed info page (click on job ID. Example: https://vcloud23.grid.kiae.ru:8060/job/65).
{% endblock %}

{% block js_import %}
{% endblock %}
