{% extends "base.html" %}

{% block title %}
<title>WEBPANDA - Jobs list</title>
{% endblock %}

{% block css_import %}
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
<b>TAG: </b><input id="tagFilter" type="text" size="40"><br>
<b>STATUS: </b><input id="statusFilter" type="text" size="40"><br>
<input class="btn btn-primary" type="button" value="Filter" onclick="updateTable()">
{% endblock %}

{% block content %}
<h4>Update period: 5 min</h4>
<table id="jobstable" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>ID</th>
        <th>Owner</th>
        <th>PandaID</th>
        <th>Distributive</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Status</th>
    </tr>
</thead>
</table>
{% endblock %}

{% block js_import %}
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="/static/app/js/moment-with-locales.min.js"></script>
<script src="/static/app/js/jobs_list.js"></script>
{% endblock %}