{% extends "base.html" %}

{% block title %}
<title>WEBPANDA - New job</title>
{% endblock %}

{% block css_import %}
<link href="static/app/css/upload_files.css" rel="stylesheet">
<link href="static/app/css/jobs_new.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<form method="post" id="upload-form" action="{{ url_for('job') }}" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class='form-group' title="Main distributive to use">
            <label for='distr'>Select distributive: </label><br>
            {{ form.distr() }}
    </div>
    <label for="ifcontent"> Input files: </label>
    <div id="ifcontent">
        <div class='form-group'>
            <input id="file-picker" type="file" accept="image/*" multiple><br>

            <div id="dropbox">
                Drag and Drop Files Here
            </div><br>
            <fieldset id="progress" style="display: none">
                <legend>Files Progress</legend>

                <div class="progress-trough">
                    <div id="progress-bar" class="progress-bar">0%</div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="col-xs-1 control-label">Urls:</label>
            <div class="col-xs-7"><input type="text" class="form-control" name="ifiles[]" size="5" /></div>
            <div class="col-xs-4"><button type="button" class="btn btn-default addButton">Add</button></div>
        </div>
        <div class="form-group hide" id="ifTemplate">
                <div class="col-xs-offset-1 col-xs-7"><input class="form-control" type="text" name="ifiles[]" /></div>
                <div class="col-xs-4"><button type="button" class="btn btn-default removeButton">Remove</button></div>
        </div>

    </div>
    <div class='form-group' title="Commands sequence to run (separate by semicolon)">
            <label for="params">Script:</label>
            <div id="params">{{ form.params() }}</div>
    </div>

    <div class='form-group'>
            <input type="reset" name="reset" value="Reset">
            {{ form.submitbtn() }}
    </div>
</form>
{% endblock %}

{% block js_import %}
<script type="text/javascript" src="static/app/js/uploadr.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}








