{% extends "base.html" %}

{% block title %}
<title>WEBPANDA - Jobs list</title>
{% endblock %}

{% block css_import %}
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
<table id="jobstable" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Owner</th>
        <th>PandaID</th>
        <th>Distributive</th>
        <th>Creation time</th>
        <th>Modification time</th>
        <th>Status</th>
    </tr>
</thead>
</table>
{% endblock %}

{% block js_import %}
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="static/app/js/moment-with-locales.min.js"></script>
<script src="static/app/js/jobs_list.js"></script>
{% endblock %}