#KI test cert
#for flask oauth urlib2
-----BEGIN CERTIFICATE-----
MIIFizCCA3OgAwIBAgIJANev1cETLVNLMA0GCSqGSIb3DQEBBQUAMFwxCzAJBgNV
BAYTAlJVMQ8wDQYDVQQIDAZSdXNzaWExDzANBgNVBAcMBk1vc2NvdzEOMAwGA1UE
CgwFTlJDS0kxDjAMBgNVBAsMBU5CSUtTMQswCQYDVQQDDAJDQTAeFw0xNTA2MDMx
MTM4NTRaFw0yMDA2MDIxMTM4NTRaMFwxCzAJBgNVBAYTAlJVMQ8wDQYDVQQIDAZS
dXNzaWExDzANBgNVBAcMBk1vc2NvdzEOMAwGA1UECgwFTlJDS0kxDjAMBgNVBAsM
BU5CSUtTMQswCQYDVQQDDAJDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoC
ggIBAKSkSYRdeY3iTp+KqanfqUGAD/L/FuPviv1SwYtQ3AX2yIkR7YiJO2lCOVER
fixFPdCUgQpyrLyN+qDeNGz+8jBgh39mWEAJnNXDMIfxEdzk1j4ue9dJ8Ek/e4Xn
+EM5TmicCey2Y75Ce6eSfJhyip/k3eqMrNXN/lSxgv2cvbMZHORxsUtTwnRw9jLC
YDnaDCyyNlR5oUIGH/StrsDVOn7lf2oTR/UjFVf5kOHBsb1qZvp2RNPaX481FF9S
zsFrkE86Rem3gCdpk+/4zV/ujegT5hNXNgRDGV1T2LsSXxXmSWqVwf3/tkuaQ7RG
3Oz/HJcJDTu4kdBILkdZcEb6aTNfpv+3Ti8c3kdej09IPG7EVfWOwHblBhy1z6Uo
mEOljVDVJti/ktr6cNJE23FgTowJpDgXfIUcaPF19YTXilKUmHwkZ6AVbUWvTX68
h5U2/q+eU/Fv3tIizvJCHISz0h/HVmGt4AjT/o/dtcBSErGhoVKYdpOnxe1cyuhv
stJqbKX8dvicD4R64YhuCBTUT8psBEvDrqYEMafPY9QjqF56RJ+vMpKwUQ+wgJlW
Yx177mt53xHNCfJO0rtHRZTyGYOXv1RW3b/vdW8tvlJ23vWQ32wS8OYfNofUBPl4
T/XY+1SkROIPwJ3oIturhJ4WlKBvSWvkhljpamNZeGd1qXH/AgMBAAGjUDBOMB0G
A1UdDgQWBBQEkAFf2Wc58dLrqSslDoeu+hY5MzAfBgNVHSMEGDAWgBQEkAFf2Wc5
8dLrqSslDoeu+hY5MzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4ICAQAp
OGeLQCoPxP99Rg3UU3SNLgvZjmGKh5lLiqArc6RWzkeFUjrdIfH1b3lDOrjGvVVf
1m4aX3VTUa00rJTXRqh8w1LjKk8wAV5uVKvb20MQ5atsJZpfSsUle+qmzHo06k0m
bQVIgkQTDdiieXu6sfm42k3h0SqQqzeRaH3YZfNKMo8s5iHWv8JLkqlzu+LRWWW3
PYi7RyvuKE+e0hwya+uF5ddamIP/oOPCs9AOesC9FMrB+1bZPoC8ZnI1EiwPkPwK
xkdmesW+gkI9i6voZ+zzcwrM88clt517IaKdE2Ucwd3clLKaW8Ih6w9KzsAKas43
4CPTMx+ZoUGNhkXiLm9i/tgs/p/Rgen1VLuuSl0KvVImQDLWiFciwC5PoS61FTdW
1QDpApsua8tXffLpg4pK0KOkr4h5SLUrCM37QLJNrdQB4+/+6/2YA8Um7JYcS3JM
/SNiSHw9q/4A1MlGpR5tL60S4nOuD4VzgGOOfhSqR5dp0XloSpRxm0FcwB+lSfcD
zjMRffzwM8fLVAycECO697f/S9ELOCOY5s4XzSwpcbegJF3adWp8wWr62LiDInf+
NBlxCO///kOH2gUx7t7bKBs0WCV7IxjobjBKJvy6K9PoknwFEVE17i+L/in/AZYg
XcE2q4Ev1wKzB3GZsDlTYVNBiv0Q4Rk/s2LyWPcI0Q==
-----END CERTIFICATE-----
