{% extends "base.html" %}

{% block title %}
<title>WEBPANDA - New container</title>
{% endblock %}

{% block css_import %}
{% endblock %}

{% block jumbotron %}
<h2>New Container</h2>
<form method="post" id="file-form" action="{{ url_for('conts.container') }}" enctype="multipart/form-data">
    <div class='form-group' title="ftpdir">
            <label for="ftpdir">FTP DIR:</label>
            {{ form.ftpdir() }}
    </div>
    <div class='form-group'>
            <input type="reset" name="reset" class="btn btn-default" value="Reset">
            {{ form.submitbtn(class_="btn btn-success") }}
    </div>
</form>
{% endblock %}

{% block js_import %}
{% endblock %}